#
# Needed packages for a minimal DjangoBB installation
#
# from setup install_requires:
# https://bitbucket.org/slav0nic/djangobb/src/tip/setup.py
# 
pil>=1.1.7
django-haystack>=2.0,<2.1
django-pagination
postmarkup

# At least only this is needed (but not in setup.py):
Whoosh>=2.4,<2.5

#
# Optional packages for DjangoBB
#
# from requirements.txt of "djangobb_project":
# https://bitbucket.org/slav0nic/djangobb_project/src/tip/requirements.txt
#
django-registration==0.8
https://bitbucket.org/benoitc/django-authopenid/get/tip.tar.gz
https://github.com/arneb/django-messages/tarball/master#egg=django-messages