{% extends "djangobb_forum/base.html" %}
{% load i18n %}
{% load forum_extras %}

{% block extra_meta %}
<style>
#loginbox {
    display:none;
}    
</style>
<script type="text/javascript">
$(document).ready(function() {
    $("#loginbox").css("display", "block");
    $("#info_box").css("display", "none");
});
</script>
{% endblock extra_meta %}

{% block content %}
<div class="blockform" id="info_box">
    <div class="box">
        <h1>loading...</h1>
        <noscript><h1>Please enable Javascipt!</h1></noscript>
    </div>
</div>
<div class="blockform" id="loginbox">
	<h2><span>{% trans "Register" %}</span></h2>
	<div class="box">
            <script type="text/javascript">
            document.write('<fo'+'rm act'+'ion="." met'+'hod="po'+'st">');
            </script>	
			{% csrf_token %}
			<div class="inform">
				<div class="forminfo">
					<h3>{% trans "Important information" %}</h3>
					<p>{% trans "Registration will grant you access to a number of features and capabilities otherwise unavailable. These functions include the ability to edit and delete posts, design your own signature that accompanies your posts and much more. If you have any questions regarding this forum you should ask an administrator." %}</p>
					<p>{% trans "Below is a form you must fill out in order to register. Once you are registered you should visit your profile and review the different settings you can change. The fields below only make up a small part of all the settings you can alter in your profile." %}</p>
				</div>
				{{ form.non_field_errors.as_ul }}
				<fieldset>
					<legend>{% blocktrans %}Please enter a username{% endblocktrans %}</legend>
					<div class="infldset">
						{{ form.username.errors }}
						<label><strong>{{ form.username.label }}</strong><br />{{ form.username }}<br /></label>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>{% trans "Please enter and confirm your chosen password" %}</legend>
					<div class="infldset">
						{{ form.password1.errors }}
						{{ form.password2.errors }}
						<label class="conl"><strong>{{ form.password1.label }}</strong><br />{{ form.password1 }}<br /></label>
						<label class="conl"><strong>{{ form.password2.label }}</strong><br />{{ form.password2 }}<br /></label>
						<p class="clearb">{% blocktrans %}Passwords are case sensitive.{% endblocktrans %}</p>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>{% trans "Enter a valid e-mail address" %}</legend>
					<div class="infldset">
					{{ form.email.errors }}
					<label><strong>{{ form.email.label }}</strong><br />
						{{ form.email }}<br /></label>
					</div>
				</fieldset>
			</div>
            <p>                
                <script type="text/javascript">
                document.write('<in'+'put type="sub'+'mit" value="{% trans "Register" %}" />');
                </script>
            </p>
        <script type="text/javascript">
        document.write('</fo'+'rm>');
        </script>
	</div>
</div>
{% endblock %}